{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="full-width-header"></div>
    <header class="d-flex" style="height: 60px;">
        <h1 style="font-size: 24px; margin: 0;">KICD Requisition System</h1>
        {% if current_user.is_authenticated %}
        <div class="d-flex justify-content-end align-items-center" style="gap: 20px;">
            <h4 style="margin: 0;">Welcome, {{ current_user.username }}</h4>
            <div style="padding-bottom: 15px;">
                <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            </div>
        </div>
        {% else %}

        <a href="{{ url_for('login') }}" class="get-started">Get Started</a>
        {% endif %}
    </header>


    <div class="hero">
        <div class="content">
            {% if current_user.is_authenticated %}
                {% include "requisitionForm.html" %}
            {% else %}
                <h2>Automate Your Store Requisition</h2>
                <p>Sign in to request and manage store checkouts seamlessly.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
